.parent{
    margin: 100px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 100px;
    padding-left: 50px;
}
.child{
    font-family: 'Archivo Black', sans-serif;
    text-align: left;
    
    font-size: 100px;
}
.container{
    display: grid;
    grid-template-columns: auto auto;
    gap: 100px;
}
.item{   
    font-family: 'Archivo Black', sans-serif;
    text-align: left;
    font-size: 100px;
    margin: 50px;
}
.item1{
    grid-column: 1 / span 2;
    text-align: left;
    padding: 100px;
}
.item3{
    padding: 300px;  
    
}
.item2{
    height: 1700px;
    width: 2750px;
    padding-left: 100px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    height: 100%;
    width: 100%;
}